# dependencies
node_modules
.pnpm-store

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# build
/dist
/packages/*/dist
*.tsbuildinfo

# cache
.cache
.turbo
.eslintcache

# coverage
coverage

# env
.env
.env.*

# os/editor
.DS_Store
.idea
.vscode
