{
  "openapi": "3.0.3",
  "info": {
    "title": "api5.meeyland.com API",
    "description": "API specification for api5.meeyland.com generated from 45 captured requests.\n\n⚠️ **Important**: This Swagger spec was auto-generated from captured network traffic. To use these APIs, you need to provide valid authentication credentials (cookies, tokens, etc.) that you captured from your browser session.\n\n📝 **How to get auth**:\n1. Open browser DevTools (F12)\n2. Go to Application > Storage > Cookies\n3. Copy cookie values and add to requests\n4. Or check the HAR file for actual auth values",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api5.meeyland.com",
      "description": "Server URL for api5.meeyland.com API"
    }
  ],
  "paths": {
    "/v1/article-favorites/count": {
      "get": {
        "operationId": "getV1ArticleFavoritesCount",
        "summary": "GET /v1/article-favorites/count",
        "description": "Operation to GET resource at /v1/article-favorites/count",
        "parameters": [
          {
            "name": "x-tenant",
            "in": "header",
            "required": false,
            "description": "Custom header: x-tenant",
            "schema": {
              "type": "string",
              "description": "Value for header x-tenant",
              "example": "bWVleWxhbmQ="
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response with status code 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "example": 200,
                      "description": "Integer value"
                    },
                    "message": {
                      "type": "string",
                      "example": "Đã xử lý thành công",
                      "description": "String value"
                    },
                    "data": {
                      "type": "integer",
                      "example": 0,
                      "description": "Integer value"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "data"
                  ],
                  "description": "Object with properties",
                  "example": {
                    "code": 200,
                    "message": "Đã xử lý thành công",
                    "data": 0
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The server could not understand the request due to malformed syntax"
          },
          "401": {
            "description": "Unauthorized - The request requires user authentication"
          },
          "404": {
            "description": "Not Found - The server has not found anything matching the Request-URI"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/article-verifies/article/{articleid}": {
      "get": {
        "operationId": "getV1ArticleVerifiesArticleArticleid",
        "summary": "GET /v1/article-verifies/article/{articleid}",
        "description": "Operation to GET resource at /v1/article-verifies/article/{articleid}",
        "parameters": [
          {
            "name": "articleid",
            "in": "path",
            "required": true,
            "description": "The articleid parameter for the article",
            "schema": {
              "type": "string",
              "example": "articleid"
            }
          },
          {
            "name": "x-tenant",
            "in": "header",
            "required": false,
            "description": "Custom header: x-tenant",
            "schema": {
              "type": "string",
              "description": "Value for header x-tenant",
              "example": "bWVleWxhbmQ="
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response with status code 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "example": 200,
                      "description": "Integer value"
                    },
                    "message": {
                      "type": "string",
                      "example": "Đã xử lý thành công",
                      "description": "String value"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "_id": {
                          "type": "string",
                          "example": "69773b757276bea451bcface",
                          "description": "String value"
                        },
                        "article": {
                          "type": "string",
                          "example": "69773b7551157e42cb90144f",
                          "description": "String value"
                        },
                        "isFullPaper": {
                          "type": "boolean",
                          "example": true,
                          "description": "Boolean value"
                        },
                        "isPublic": {
                          "type": "boolean",
                          "example": false,
                          "description": "Boolean value"
                        },
                        "isUseDataMeeyid": {
                          "type": "boolean",
                          "example": false,
                          "description": "Boolean value"
                        },
                        "certificate": {
                          "type": "object",
                          "properties": {
                            "legalPapers": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "description": {
                                    "type": "string",
                                    "example": "",
                                    "description": "String value"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "Screenshot 2026-01-24 021630.png",
                                    "description": "String value"
                                  },
                                  "url": {
                                    "type": "string",
                                    "example": "https://io.meeymedia.com/meeyland/images/2026/01/26/screenshot-20260124-021630-1769421676495-646494.png",
                                    "description": "String value"
                                  },
                                  "uri": {
                                    "type": "string",
                                    "example": "/meeyland/images/2026/01/26/screenshot-20260124-021630-1769421676495-646494.png",
                                    "description": "String value"
                                  },
                                  "s3Key": {
                                    "type": "string",
                                    "example": "images/2026/01/26/screenshot-20260124-021630-1769421676495-646494.png",
                                    "description": "String value"
                                  },
                                  "mimeType": {
                                    "type": "string",
                                    "example": "image/png",
                                    "description": "String value"
                                  },
                                  "size": {
                                    "type": "integer",
                                    "example": 207912,
                                    "description": "Integer value"
                                  },
                                  "width": {
                                    "type": "integer",
                                    "example": 1918,
                                    "description": "Integer value"
                                  },
                                  "height": {
                                    "type": "integer",
                                    "example": 1079,
                                    "description": "Integer value"
                                  }
                                },
                                "required": [
                                  "description",
                                  "name",
                                  "url",
                                  "uri",
                                  "s3Key",
                                  "mimeType",
                                  "size",
                                  "width",
                                  "height"
                                ],
                                "description": "Object with properties",
                                "example": {
                                  "description": "",
                                  "name": "Screenshot 2026-01-24 021630.png",
                                  "url": "https://io.meeymedia.com/meeyland/images/2026/01/26/screenshot-20260124-021630-1769421676495-646494.png",
                                  "uri": "/meeyland/images/2026/01/26/screenshot-20260124-021630-1769421676495-646494.png",
                                  "s3Key": "images/2026/01/26/screenshot-20260124-021630-1769421676495-646494.png",
                                  "mimeType": "image/png",
                                  "size": 207912,
                                  "width": 1918,
                                  "height": 1079
                                }
                              },
                              "description": "Array of object",
                              "example": [
                                {
                                  "description": "",
                                  "name": "Screenshot 2026-01-24 021630.png",
                                  "url": "https://io.meeymedia.com/meeyland/images/2026/01/26/screenshot-20260124-021630-1769421676495-646494.png",
                                  "uri": "/meeyland/images/2026/01/26/screenshot-20260124-021630-1769421676495-646494.png",
                                  "s3Key": "images/2026/01/26/screenshot-20260124-021630-1769421676495-646494.png",
                                  "mimeType": "image/png",
                                  "size": 207912,
                                  "width": 1918,
                                  "height": 1079
                                }
                              ]
                            },
                            "authority": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "description": {
                                    "type": "string",
                                    "example": "",
                                    "description": "String value"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "Screenshot 2026-01-24 020724.png",
                                    "description": "String value"
                                  },
                                  "url": {
                                    "type": "string",
                                    "example": "https://io.meeymedia.com/meeyland/images/2026/01/26/screenshot-20260124-020724-1769421679426-608723.png",
                                    "description": "String value"
                                  },
                                  "uri": {
                                    "type": "string",
                                    "example": "/meeyland/images/2026/01/26/screenshot-20260124-020724-1769421679426-608723.png",
                                    "description": "String value"
                                  },
                                  "s3Key": {
                                    "type": "string",
                                    "example": "images/2026/01/26/screenshot-20260124-020724-1769421679426-608723.png",
                                    "description": "String value"
                                  },
                                  "mimeType": {
                                    "type": "string",
                                    "example": "image/png",
                                    "description": "String value"
                                  },
                                  "size": {
                                    "type": "integer",
                                    "example": 732454,
                                    "description": "Integer value"
                                  },
                                  "width": {
                                    "type": "integer",
                                    "example": 1917,
                                    "description": "Integer value"
                                  },
                                  "height": {
                                    "type": "integer",
                                    "example": 1079,
                                    "description": "Integer value"
                                  }
                                },
                                "required": [
                                  "description",
                                  "name",
                                  "url",
                                  "uri",
                                  "s3Key",
                                  "mimeType",
                                  "size",
                                  "width",
                                  "height"
                                ],
                                "description": "Object with properties",
                                "example": {
                                  "description": "",
                                  "name": "Screenshot 2026-01-24 020724.png",
                                  "url": "https://io.meeymedia.com/meeyland/images/2026/01/26/screenshot-20260124-020724-1769421679426-608723.png",
                                  "uri": "/meeyland/images/2026/01/26/screenshot-20260124-020724-1769421679426-608723.png",
                                  "s3Key": "images/2026/01/26/screenshot-20260124-020724-1769421679426-608723.png",
                                  "mimeType": "image/png",
                                  "size": 732454,
                                  "width": 1917,
                                  "height": 1079
                                }
                              },
                              "description": "Array of object",
                              "example": [
                                {
                                  "description": "",
                                  "name": "Screenshot 2026-01-24 020724.png",
                                  "url": "https://io.meeymedia.com/meeyland/images/2026/01/26/screenshot-20260124-020724-1769421679426-608723.png",
                                  "uri": "/meeyland/images/2026/01/26/screenshot-20260124-020724-1769421679426-608723.png",
                                  "s3Key": "images/2026/01/26/screenshot-20260124-020724-1769421679426-608723.png",
                                  "mimeType": "image/png",
                                  "size": 732454,
                                  "width": 1917,
                                  "height": 1079
                                }
                              ]
                            }
                          },
                          "required": [
                            "legalPapers",
                            "authority"
                          ],
                          "description": "Object with properties",
                          "example": {
                            "legalPapers": [
                              {
                                "description": "",
                                "name": "Screenshot 2026-01-24 021630.png",
                                "url": "https://io.meeymedia.com/meeyland/images/2026/01/26/screenshot-20260124-021630-1769421676495-646494.png",
                                "uri": "/meeyland/images/2026/01/26/screenshot-20260124-021630-1769421676495-646494.png",
                                "s3Key": "images/2026/01/26/screenshot-20260124-021630-1769421676495-646494.png",
                                "mimeType": "image/png",
                                "size": 207912,
                                "width": 1918,
                                "height": 1079
                              }
                            ],
                            "authority": [
                              {
                                "description": "",
                                "name": "Screenshot 2026-01-24 020724.png",
                                "url": "https://io.meeymedia.com/meeyland/images/2026/01/26/screenshot-20260124-020724-1769421679426-608723.png",
                                "uri": "/meeyland/images/2026/01/26/screenshot-20260124-020724-1769421679426-608723.png",
                                "s3Key": "images/2026/01/26/screenshot-20260124-020724-1769421679426-608723.png",
                                "mimeType": "image/png",
                                "size": 732454,
                                "width": 1917,
                                "height": 1079
                              }
                            ]
                          }
                        },
                        "status": {
                          "type": "integer",
                          "example": 2,
                          "description": "Integer value"
                        },
                        "totalView": {
                          "type": "integer",
                          "example": 0,
                          "description": "Integer value"
                        },
                        "linkPlanning": {
                          "type": "string",
                          "nullable": true,
                          "description": "Nullable value"
                        },
                        "imagePlanning": {
                          "type": "string",
                          "nullable": true,
                          "description": "Nullable value"
                        },
                        "createdBy": {
                          "type": "string",
                          "example": "68ff42231fb40f5590096c96",
                          "description": "String value"
                        },
                        "updatedBy": {
                          "type": "string",
                          "example": "68ff42231fb40f5590096c96",
                          "description": "String value"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-01-26T10:01:25.405Z",
                          "description": "Date-time string"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-01-26T10:01:34.018Z",
                          "description": "Date-time string"
                        }
                      },
                      "required": [
                        "_id",
                        "article",
                        "isFullPaper",
                        "isPublic",
                        "isUseDataMeeyid",
                        "certificate",
                        "status",
                        "totalView",
                        "createdBy",
                        "updatedBy",
                        "createdAt",
                        "updatedAt"
                      ],
                      "description": "Object with properties",
                      "example": {
                        "_id": "69773b757276bea451bcface",
                        "article": "69773b7551157e42cb90144f",
                        "isFullPaper": true,
                        "isPublic": false,
                        "isUseDataMeeyid": false,
                        "certificate": {
                          "legalPapers": [
                            {
                              "description": "",
                              "name": "Screenshot 2026-01-24 021630.png",
                              "url": "https://io.meeymedia.com/meeyland/images/2026/01/26/screenshot-20260124-021630-1769421676495-646494.png",
                              "uri": "/meeyland/images/2026/01/26/screenshot-20260124-021630-1769421676495-646494.png",
                              "s3Key": "images/2026/01/26/screenshot-20260124-021630-1769421676495-646494.png",
                              "mimeType": "image/png",
                              "size": 207912,
                              "width": 1918,
                              "height": 1079
                            }
                          ],
                          "authority": [
                            {
                              "description": "",
                              "name": "Screenshot 2026-01-24 020724.png",
                              "url": "https://io.meeymedia.com/meeyland/images/2026/01/26/screenshot-20260124-020724-1769421679426-608723.png",
                              "uri": "/meeyland/images/2026/01/26/screenshot-20260124-020724-1769421679426-608723.png",
                              "s3Key": "images/2026/01/26/screenshot-20260124-020724-1769421679426-608723.png",
                              "mimeType": "image/png",
                              "size": 732454,
                              "width": 1917,
                              "height": 1079
                            }
                          ]
                        },
                        "status": 2,
                        "totalView": 0,
                        "createdBy": "68ff42231fb40f5590096c96",
                        "updatedBy": "68ff42231fb40f5590096c96",
                        "createdAt": "2026-01-26T10:01:25.405Z",
                        "updatedAt": "2026-01-26T10:01:34.018Z"
                      }
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "data"
                  ],
                  "description": "Object with properties",
                  "example": {
                    "code": 200,
                    "message": "Đã xử lý thành công",
                    "data": {
                      "_id": "69773b757276bea451bcface",
                      "article": "69773b7551157e42cb90144f",
                      "isFullPaper": true,
                      "isPublic": false,
                      "isUseDataMeeyid": false,
                      "certificate": {
                        "legalPapers": [
                          {
                            "description": "",
                            "name": "Screenshot 2026-01-24 021630.png",
                            "url": "https://io.meeymedia.com/meeyland/images/2026/01/26/screenshot-20260124-021630-1769421676495-646494.png",
                            "uri": "/meeyland/images/2026/01/26/screenshot-20260124-021630-1769421676495-646494.png",
                            "s3Key": "images/2026/01/26/screenshot-20260124-021630-1769421676495-646494.png",
                            "mimeType": "image/png",
                            "size": 207912,
                            "width": 1918,
                            "height": 1079
                          }
                        ],
                        "authority": [
                          {
                            "description": "",
                            "name": "Screenshot 2026-01-24 020724.png",
                            "url": "https://io.meeymedia.com/meeyland/images/2026/01/26/screenshot-20260124-020724-1769421679426-608723.png",
                            "uri": "/meeyland/images/2026/01/26/screenshot-20260124-020724-1769421679426-608723.png",
                            "s3Key": "images/2026/01/26/screenshot-20260124-020724-1769421679426-608723.png",
                            "mimeType": "image/png",
                            "size": 732454,
                            "width": 1917,
                            "height": 1079
                          }
                        ]
                      },
                      "status": 2,
                      "totalView": 0,
                      "linkPlanning": null,
                      "imagePlanning": null,
                      "createdBy": "68ff42231fb40f5590096c96",
                      "updatedBy": "68ff42231fb40f5590096c96",
                      "createdAt": "2026-01-26T10:01:25.405Z",
                      "updatedAt": "2026-01-26T10:01:34.018Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The server could not understand the request due to malformed syntax"
          },
          "401": {
            "description": "Unauthorized - The request requires user authentication"
          },
          "404": {
            "description": "Not Found - The server has not found anything matching the Request-URI"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/articles/update/{updateid}": {
      "get": {
        "operationId": "getV1ArticlesUpdateUpdateid",
        "summary": "GET /v1/articles/update/{updateid}",
        "description": "Operation to GET resource at /v1/articles/update/{updateid}",
        "parameters": [
          {
            "name": "updateid",
            "in": "path",
            "required": true,
            "description": "The updateid parameter for the update",
            "schema": {
              "type": "string",
              "example": "updateid"
            }
          },
          {
            "name": "x-tenant",
            "in": "header",
            "required": false,
            "description": "Custom header: x-tenant",
            "schema": {
              "type": "string",
              "description": "Value for header x-tenant",
              "example": "bWVleWxhbmQ="
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response with status code 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "example": 200,
                      "description": "Integer value"
                    },
                    "message": {
                      "type": "string",
                      "example": "Đã xử lý thành công",
                      "description": "String value"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "_id": {
                          "type": "string",
                          "example": "69773b7551157e42cb90144f",
                          "description": "String value"
                        },
                        "source": {
                          "type": "integer",
                          "example": 2,
                          "description": "Integer value"
                        },
                        "category": {
                          "type": "object",
                          "properties": {
                            "_id": {
                              "type": "string",
                              "example": "5deb722db4367252525c1d00",
                              "description": "String value"
                            },
                            "name": {
                              "type": "string",
                              "example": "Mua bán",
                              "description": "String value"
                            },
                            "value": {
                              "type": "string",
                              "example": "mua_ban",
                              "description": "String value"
                            },
                            "slug": {
                              "type": "string",
                              "example": "mua-ban-nha-dat",
                              "description": "String value"
                            },
                            "slugIncludeTypeOfHouse": {
                              "type": "string",
                              "example": "ban",
                              "description": "String value"
                            },
                            "uri": {
                              "type": "string",
                              "example": "/mua-ban-nha-dat-a4",
                              "description": "String value"
                            }
                          },
                          "required": [
                            "_id",
                            "name",
                            "value",
                            "slug",
                            "slugIncludeTypeOfHouse",
                            "uri"
                          ],
                          "description": "Object with properties",
                          "example": {
                            "_id": "5deb722db4367252525c1d00",
                            "name": "Mua bán",
                            "value": "mua_ban",
                            "slug": "mua-ban-nha-dat",
                            "slugIncludeTypeOfHouse": "ban",
                            "uri": "/mua-ban-nha-dat-a4"
                          }
                        },
                        "typeOfHouse": {
                          "type": "object",
                          "properties": {
                            "_id": {
                              "type": "string",
                              "example": "65eeb3cf01dfc72e1912edb2",
                              "description": "String value"
                            },
                            "name": {
                              "type": "string",
                              "example": "Căn hộ chung cư",
                              "description": "String value"
                            },
                            "value": {
                              "type": "string",
                              "example": "can_ho_chung_cu",
                              "description": "String value"
                            },
                            "slug": {
                              "type": "string",
                              "example": "can-ho-chung-cu",
                              "description": "String value"
                            }
                          },
                          "required": [
                            "_id",
                            "name",
                            "value",
                            "slug"
                          ],
                          "description": "Object with properties",
                          "example": {
                            "_id": "65eeb3cf01dfc72e1912edb2",
                            "name": "Căn hộ chung cư",
                            "value": "can_ho_chung_cu",
                            "slug": "can-ho-chung-cu"
                          }
                        },
                        "tour": {
                          "type": "string",
                          "nullable": true,
                          "description": "Nullable value"
                        },
                        "isTourDisplayed": {
                          "type": "boolean",
                          "example": false,
                          "description": "Boolean value"
                        },
                        "city": {
                          "type": "object",
                          "properties": {
                            "_id": {
                              "type": "string",
                              "example": "5e5501caeb80a7245175dddb",
                              "description": "String value"
                            },
                            "code": {
                              "type": "string",
                              "example": "thanh-pho-ha-noi",
                              "description": "String value"
                            },
                            "createdAt": {
                              "type": "string",
                              "format": "date-time",
                              "example": "2022-06-08T09:48:38.423Z",
                              "description": "Date-time string"
                            },
                            "isActive": {
                              "type": "boolean",
                              "example": true,
                              "description": "Boolean value"
                            },
                            "location": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "Point",
                                  "description": "String value"
                                },
                                "coordinates": {
                                  "type": "array",
                                  "items": {
                                    "type": "number",
                                    "format": "float",
                                    "example": 105.8341598,
                                    "description": "Float value"
                                  },
                                  "description": "Array of number",
                                  "example": [
                                    105.8341598
                                  ]
                                }
                              },
                              "required": [
                                "type",
                                "coordinates"
                              ],
                              "description": "Object with properties",
                              "example": {
                                "type": "Point",
                                "coordinates": [
                                  105.8341598,
                                  21.0277644
                                ]
                              }
                            },
                            "postalCode": {
                              "type": "string",
                              "example": "100000",
                              "description": "String value"
                            },
                            "slug": {
                              "type": "string",
                              "example": "ha-noi",
                              "description": "String value"
                            },
                            "sorder": {
                              "type": "integer",
                              "example": 6,
                              "description": "Integer value"
                            },
                            "translation": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "languageCode": {
                                    "type": "string",
                                    "example": "vi",
                                    "description": "String value"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "Hà Nội",
                                    "description": "String value"
                                  },
                                  "prefix": {
                                    "type": "string",
                                    "example": "Thành phố",
                                    "description": "String value"
                                  }
                                },
                                "required": [
                                  "languageCode",
                                  "name",
                                  "prefix"
                                ],
                                "description": "Object with properties",
                                "example": {
                                  "languageCode": "vi",
                                  "name": "Hà Nội",
                                  "prefix": "Thành phố"
                                }
                              },
                              "description": "Array of object",
                              "example": [
                                {
                                  "languageCode": "vi",
                                  "name": "Hà Nội",
                                  "prefix": "Thành phố"
                                }
                              ]
                            },
                            "updatedAt": {
                              "type": "string",
                              "format": "date-time",
                              "example": "2024-04-10T03:19:44.108Z",
                              "description": "Date-time string"
                            }
                          },
                          "required": [
                            "_id",
                            "code",
                            "createdAt",
                            "isActive",
                            "location",
                            "postalCode",
                            "slug",
                            "sorder",
                            "translation",
                            "updatedAt"
                          ],
                          "description": "Object with properties",
                          "example": {
                            "_id": "5e5501caeb80a7245175dddb",
                            "code": "thanh-pho-ha-noi",
                            "createdAt": "2022-06-08T09:48:38.423Z",
                            "isActive": true,
                            "location": {
                              "type": "Point",
                              "coordinates": [
                                105.8341598,
                                21.0277644
                              ]
                            },
                            "postalCode": "100000",
                            "slug": "ha-noi",
                            "sorder": 6,
                            "translation": [
                              {
                                "languageCode": "vi",
                                "name": "Hà Nội",
                                "prefix": "Thành phố"
                              }
                            ],
                            "updatedAt": "2024-04-10T03:19:44.108Z"
                          }
                        },
                        "district": {
                          "type": "object",
                          "properties": {
                            "_id": {
                              "type": "string",
                              "example": "5e5501caeb80a7245175de1a",
                              "description": "String value"
                            },
                            "city": {
                              "type": "string",
                              "example": "5e5501caeb80a7245175dddb",
                              "description": "String value"
                            },
                            "code": {
                              "type": "string",
                              "example": "001",
                              "description": "String value"
                            },
                            "createdAt": {
                              "type": "string",
                              "format": "date-time",
                              "example": "2022-06-08T09:49:31.450Z",
                              "description": "Date-time string"
                            },
                            "isActive": {
                              "type": "boolean",
                              "example": true,
                              "description": "Boolean value"
                            },
                            "location": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "Point",
                                  "description": "String value"
                                },
                                "coordinates": {
                                  "type": "array",
                                  "items": {
                                    "type": "number",
                                    "format": "float",
                                    "example": 105.8140539,
                                    "description": "Float value"
                                  },
                                  "description": "Array of number",
                                  "example": [
                                    105.8140539
                                  ]
                                }
                              },
                              "required": [
                                "type",
                                "coordinates"
                              ],
                              "description": "Object with properties",
                              "example": {
                                "type": "Point",
                                "coordinates": [
                                  105.8140539,
                                  21.0337815
                                ]
                              }
                            },
                            "slug": {
                              "type": "string",
                              "example": "ba-dinh",
                              "description": "String value"
                            },
                            "sorder": {
                              "type": "integer",
                              "example": 1,
                              "description": "Integer value"
                            },
                            "translation": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "languageCode": {
                                    "type": "string",
                                    "example": "vi",
                                    "description": "String value"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "Ba Đình",
                                    "description": "String value"
                                  },
                                  "prefix": {
                                    "type": "string",
                                    "example": "Quận",
                                    "description": "String value"
                                  }
                                },
                                "required": [
                                  "languageCode",
                                  "name",
                                  "prefix"
                                ],
                                "description": "Object with properties",
                                "example": {
                                  "languageCode": "vi",
                                  "name": "Ba Đình",
                                  "prefix": "Quận"
                                }
                              },
                              "description": "Array of object",
                              "example": [
                                {
                                  "languageCode": "vi",
                                  "name": "Ba Đình",
                                  "prefix": "Quận"
                                }
                              ]
                            },
                            "updatedAt": {
                              "type": "string",
                              "format": "date-time",
                              "example": "2024-04-10T03:23:53.962Z",
                              "description": "Date-time string"
                            }
                          },
                          "required": [
                            "_id",
                            "city",
                            "code",
                            "createdAt",
                            "isActive",
                            "location",
                            "slug",
                            "sorder",
                            "translation",
                            "updatedAt"
                          ],
                          "description": "Object with properties",
                          "example": {
                            "_id": "5e5501caeb80a7245175de1a",
                            "city": "5e5501caeb80a7245175dddb",
                            "code": "001",
                            "createdAt": "2022-06-08T09:49:31.450Z",
                            "isActive": true,
                            "location": {
                              "type": "Point",
                              "coordinates": [
                                105.8140539,
                                21.0337815
                              ]
                            },
                            "slug": "ba-dinh",
                            "sorder": 1,
                            "translation": [
                              {
                                "languageCode": "vi",
                                "name": "Ba Đình",
                                "prefix": "Quận"
                              }
                            ],
                            "updatedAt": "2024-04-10T03:23:53.962Z"
                          }
                        },
                        "ward": {
                          "type": "string",
                          "nullable": true,
                          "description": "Nullable value"
                        },
                        "street": {
                          "type": "string",
                          "nullable": true,
                          "description": "Nullable value"
                        },
                        "project": {
                          "type": "object",
                          "properties": {
                            "_id": {
                              "type": "string",
                              "example": "5ed8a62498202803b9c86778",
                              "description": "String value"
                            },
                            "shortId": {
                              "type": "integer",
                              "example": 1688358049827,
                              "description": "Integer value"
                            },
                            "name": {
                              "type": "string",
                              "example": "Mon Central",
                              "description": "String value"
                            },
                            "tradeName": {
                              "type": "string",
                              "example": "Mon Central",
                              "description": "String value"
                            },
                            "slug": {
                              "type": "string",
                              "example": "mon-central",
                              "description": "String value"
                            }
                          },
                          "required": [
                            "_id",
                            "shortId",
                            "name",
                            "tradeName",
                            "slug"
                          ],
                          "description": "Object with properties",
                          "example": {
                            "_id": "5ed8a62498202803b9c86778",
                            "shortId": 1688358049827,
                            "name": "Mon Central",
                            "tradeName": "Mon Central",
                            "slug": "mon-central"
                          }
                        },
                        "address": {
                          "type": "string",
                          "nullable": true,
                          "description": "Nullable value"
                        },
                        "addressCrawl": {
                          "type": "string",
                          "example": "",
                          "description": "String value"
                        },
                        "location": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "example": "Point",
                              "description": "String value"
                            },
                            "coordinates": {
                              "type": "array",
                              "items": {
                                "type": "number",
                                "format": "float",
                                "example": 108.4276047,
                                "description": "Float value"
                              },
                              "description": "Array of number",
                              "example": [
                                108.4276047
                              ]
                            },
                            "correct": {
                              "type": "boolean",
                              "example": true,
                              "description": "Boolean value"
                            }
                          },
                          "required": [
                            "type",
                            "coordinates",
                            "correct"
                          ],
                          "description": "Object with properties",
                          "example": {
                            "type": "Point",
                            "coordinates": [
                              108.4276047,
                              14.6516511
                            ],
                            "correct": true
                          }
                        },
                        "hideAddress": {
                          "type": "boolean",
                          "example": false,
                          "description": "Boolean value"
                        },
                        "media": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "mediaType": {
                                "type": "integer",
                                "example": 1,
                                "description": "Integer value"
                              },
                              "description": {
                                "type": "string",
                                "example": "",
                                "description": "String value"
                              },
                              "url": {
                                "type": "string",
                                "example": "https://io.meeymedia.com/meeyland/images/2026/01/26/screenshot-20260124-023506-1769421568379-327406.png",
                                "description": "String value"
                              },
                              "name": {
                                "type": "string",
                                "example": "Screenshot 2026-01-24 023506.png",
                                "description": "String value"
                              },
                              "uri": {
                                "type": "string",
                                "example": "/meeyland/images/2026/01/26/screenshot-20260124-023506-1769421568379-327406.png",
                                "description": "String value"
                              },
                              "s3Key": {
                                "type": "string",
                                "example": "images/2026/01/26/screenshot-20260124-023506-1769421568379-327406.png",
                                "description": "String value"
                              },
                              "mimeType": {
                                "type": "string",
                                "example": "image/png",
                                "description": "String value"
                              },
                              "size": {
                                "type": "integer",
                                "example": 107156,
                                "description": "Integer value"
                              },
                              "width": {
                                "type": "integer",
                                "example": 1919,
                                "description": "Integer value"
                              },
                              "height": {
                                "type": "integer",
                                "example": 1079,
                                "description": "Integer value"
                              }
                            },
                            "required": [
                              "mediaType",
                              "description",
                              "url",
                              "name",
                              "uri",
                              "s3Key",
                              "mimeType",
                              "size",
                              "width",
                              "height"
                            ],
                            "description": "Object with properties",
                            "example": {
                              "mediaType": 1,
                              "description": "",
                              "url": "https://io.meeymedia.com/meeyland/images/2026/01/26/screenshot-20260124-023506-1769421568379-327406.png",
                              "name": "Screenshot 2026-01-24 023506.png",
                              "uri": "/meeyland/images/2026/01/26/screenshot-20260124-023506-1769421568379-327406.png",
                              "s3Key": "images/2026/01/26/screenshot-20260124-023506-1769421568379-327406.png",
                              "mimeType": "image/png",
                              "size": 107156,
                              "width": 1919,
                              "height": 1079
                            }
                          },
                          "description": "Array of object",
                          "example": [
                            {
                              "mediaType": 1,
                              "description": "",
                              "url": "https://io.meeymedia.com/meeyland/images/2026/01/26/screenshot-20260124-023506-1769421568379-327406.png",
                              "name": "Screenshot 2026-01-24 023506.png",
                              "uri": "/meeyland/images/2026/01/26/screenshot-20260124-023506-1769421568379-327406.png",
                              "s3Key": "images/2026/01/26/screenshot-20260124-023506-1769421568379-327406.png",
                              "mimeType": "image/png",
                              "size": 107156,
                              "width": 1919,
                              "height": 1079
                            }
                          ]
                        },
                        "thumbnail": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "example": "Screenshot 2026-01-24 023506.png",
                              "description": "String value"
                            },
                            "url": {
                              "type": "string",
                              "example": "https://io.meeymedia.com/meeyland/images/2026/01/26/screenshot-20260124-023506-1769421568379-327406.png",
                              "description": "String value"
                            },
                            "uri": {
                              "type": "string",
                              "example": "/meeyland/images/2026/01/26/screenshot-20260124-023506-1769421568379-327406.png",
                              "description": "String value"
                            },
                            "s3Key": {
                              "type": "string",
                              "example": "images/2026/01/26/screenshot-20260124-023506-1769421568379-327406.png",
                              "description": "String value"
                            },
                            "mimeType": {
                              "type": "string",
                              "example": "image/png",
                              "description": "String value"
                            },
                            "size": {
                              "type": "integer",
                              "example": 107156,
                              "description": "Integer value"
                            },
                            "width": {
                              "type": "integer",
                              "example": 1919,
                              "description": "Integer value"
                            },
                            "height": {
                              "type": "integer",
                              "example": 1079,
                              "description": "Integer value"
                            }
                          },
                          "required": [
                            "name",
                            "url",
                            "uri",
                            "s3Key",
                            "mimeType",
                            "size",
                            "width",
                            "height"
                          ],
                          "description": "Object with properties",
                          "example": {
                            "name": "Screenshot 2026-01-24 023506.png",
                            "url": "https://io.meeymedia.com/meeyland/images/2026/01/26/screenshot-20260124-023506-1769421568379-327406.png",
                            "uri": "/meeyland/images/2026/01/26/screenshot-20260124-023506-1769421568379-327406.png",
                            "s3Key": "images/2026/01/26/screenshot-20260124-023506-1769421568379-327406.png",
                            "mimeType": "image/png",
                            "size": 107156,
                            "width": 1919,
                            "height": 1079
                          }
                        },
                        "title": {
                          "type": "string",
                          "example": "zdfasdfasdfsdafdsfsdfsdfsdfsdfsdf",
                          "description": "String value"
                        },
                        "description": {
                          "type": "string",
                          "example": "<p>zdfasdfasdfsdafdsfsdfsdfsdfsdfsdfzdfasdfasdfsdafdsfsdfsdfsdfsdfsdfzdfasdfasdfsdafdsfsdfsdfsdfsdfsdfzdfasdfasdfsdafdsfsdfsdfsdfsdfsdfzdfasdfasdfsdafdsfsdfsdfsdfsdfsdfzdfasdfasdfsdafdsfsdfsdfsdfsdfsdfzdfasdfasdfsdafdsfsdfsdfsdfsdfsdfzdfasdfasdfsdafdsfsdfsdfsdfsdfsdfzdfasdfasdfsdafdsfsdfsdfsdfsdfsdfzdfasdfasdfsdafdsfsdfsdfsdfsdfsdfzdfasdfasdfsdafdsfsdfsdfsdfsdfsdf</p>",
                          "description": "String value"
                        },
                        "legalPaper": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string",
                                "example": "Giấy CN QSDĐ - Sổ đỏ - Sổ hồng",
                                "description": "String value"
                              },
                              "value": {
                                "type": "string",
                                "example": "giay_cn_qsdd_so_do_so_hong",
                                "description": "String value"
                              },
                              "isGroup": {
                                "type": "boolean",
                                "example": false,
                                "description": "Boolean value"
                              },
                              "groupName": {
                                "type": "string",
                                "example": "",
                                "description": "String value"
                              },
                              "groupValue": {
                                "type": "string",
                                "example": "",
                                "description": "String value"
                              },
                              "isGroupSelect": {
                                "type": "boolean",
                                "example": false,
                                "description": "Boolean value"
                              }
                            },
                            "required": [
                              "label",
                              "value",
                              "isGroup",
                              "groupName",
                              "groupValue",
                              "isGroupSelect"
                            ],
                            "description": "Object with properties",
                            "example": {
                              "label": "Giấy CN QSDĐ - Sổ đỏ - Sổ hồng",
                              "value": "giay_cn_qsdd_so_do_so_hong",
                              "isGroup": false,
                              "groupName": "",
                              "groupValue": "",
                              "isGroupSelect": false
                            }
                          },
                          "description": "Array of object",
                          "example": [
                            {
                              "label": "Giấy CN QSDĐ - Sổ đỏ - Sổ hồng",
                              "value": "giay_cn_qsdd_so_do_so_hong",
                              "isGroup": false,
                              "groupName": "",
                              "groupValue": "",
                              "isGroupSelect": false
                            }
                          ]
                        },
                        "area": {
                          "type": "integer",
                          "example": 1000,
                          "description": "Integer value"
                        },
                        "totalPrice": {
                          "type": "integer",
                          "example": 10000000000,
                          "description": "Integer value"
                        },
                        "totalFloor": {
                          "type": "string",
                          "nullable": true,
                          "description": "Nullable value"
                        },
                        "floorNumber": {
                          "type": "string",
                          "nullable": true,
                          "description": "Nullable value"
                        },
                        "facade": {
                          "type": "integer",
                          "example": 100,
                          "description": "Integer value"
                        },
                        "depth": {
                          "type": "integer",
                          "example": 1000,
                          "description": "Integer value"
                        },
                        "wideRoad": {
                          "type": "string",
                          "nullable": true,
                          "description": "Nullable value"
                        },
                        "totalBedroom": {
                          "type": "integer",
                          "example": 3,
                          "description": "Integer value"
                        },
                        "totalBathroom": {
                          "type": "integer",
                          "example": 3,
                          "description": "Integer value"
                        },
                        "balconyDirection": {
                          "type": "string",
                          "nullable": true,
                          "description": "Nullable value"
                        },
                        "totalBalcony": {
                          "type": "string",
                          "nullable": true,
                          "description": "Nullable value"
                        },
                        "directions": {
                          "type": "string",
                          "nullable": true,
                          "description": "Nullable value"
                        },
                        "furniture": {
                          "type": "string",
                          "nullable": true,
                          "description": "Nullable value"
                        },
                        "utilities": {
                          "type": "string",
                          "nullable": true,
                          "description": "Nullable value"
                        },
                        "advantages": {
                          "type": "string",
                          "nullable": true,
                          "description": "Nullable value"
                        },
                        "levelTransaction": {
                          "type": "string",
                          "nullable": true,
                          "description": "Nullable value"
                        },
                        "userTypes": {
                          "type": "integer",
                          "example": 0,
                          "description": "Integer value"
                        },
                        "havingCommission": {
                          "type": "boolean",
                          "example": false,
                          "description": "Boolean value"
                        },
                        "contact": {
                          "type": "object",
                          "properties": {
                            "fullName": {
                              "type": "string",
                              "example": "test",
                              "description": "String value"
                            },
                            "phones": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "example": "0337700159",
                                "description": "String value"
                              },
                              "description": "Array of string",
                              "example": [
                                "0337700159"
                              ]
                            },
                            "email": {
                              "type": "string",
                              "example": "",
                              "description": "String value"
                            }
                          },
                          "required": [
                            "fullName",
                            "phones",
                            "email"
                          ],
                          "description": "Object with properties",
                          "example": {
                            "fullName": "test",
                            "phones": [
                              "0337700159"
                            ],
                            "email": ""
                          }
                        },
                        "viewTypeSchedule": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "description": "String value"
                          },
                          "description": "Array of strings"
                        },
                        "businessDate": {
                          "type": "string",
                          "nullable": true,
                          "description": "Nullable value"
                        },
                        "businessTime": {
                          "type": "string",
                          "nullable": true,
                          "description": "Nullable value"
                        },
                        "status": {
                          "type": "integer",
                          "example": 2,
                          "description": "Integer value"
                        },
                        "viewAdmin": {
                          "type": "integer",
                          "example": 0,
                          "description": "Integer value"
                        },
                        "isCrawl": {
                          "type": "boolean",
                          "example": false,
                          "description": "Boolean value"
                        },
                        "isSync": {
                          "type": "boolean",
                          "example": false,
                          "description": "Boolean value"
                        },
                        "totalPoint": {
                          "type": "number",
                          "format": "float",
                          "example": 5.145604395604395,
                          "description": "Float value"
                        },
                        "priceRanges": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "_id": {
                                "type": "string",
                                "example": "6634b2661b97fea8502e5dce",
                                "description": "String value"
                              },
                              "field": {
                                "type": "integer",
                                "example": 1,
                                "description": "Integer value"
                              },
                              "from": {
                                "type": "integer",
                                "example": 7000000000,
                                "description": "Integer value"
                              },
                              "to": {
                                "type": "integer",
                                "example": 10000000000,
                                "description": "Integer value"
                              },
                              "label": {
                                "type": "string",
                                "example": "7 - 10 tỷ",
                                "description": "String value"
                              },
                              "value": {
                                "type": "string",
                                "example": "7000000000_10000000000",
                                "description": "String value"
                              }
                            },
                            "required": [
                              "_id",
                              "field",
                              "from",
                              "to",
                              "label",
                              "value"
                            ],
                            "description": "Object with properties",
                            "example": {
                              "_id": "6634b2661b97fea8502e5dce",
                              "field": 1,
                              "from": 7000000000,
                              "to": 10000000000,
                              "label": "7 - 10 tỷ",
                              "value": "7000000000_10000000000"
                            }
                          },
                          "description": "Array of object",
                          "example": [
                            {
                              "_id": "6634b2661b97fea8502e5dce",
                              "field": 1,
                              "from": 7000000000,
                              "to": 10000000000,
                              "label": "7 - 10 tỷ",
                              "value": "7000000000_10000000000"
                            }
                          ]
                        },
                        "areaRanges": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "_id": {
                                "type": "string",
                                "example": "6634b301ee981658da4494d7",
                                "description": "String value"
                              },
                              "field": {
                                "type": "integer",
                                "example": 2,
                                "description": "Integer value"
                              },
                              "from": {
                                "type": "integer",
                                "example": 500,
                                "description": "Integer value"
                              },
                              "to": {
                                "type": "integer",
                                "example": 1000,
                                "description": "Integer value"
                              },
                              "label": {
                                "type": "string",
                                "example": "500 - 1000 m²",
                                "description": "String value"
                              },
                              "value": {
                                "type": "string",
                                "example": "500_1000",
                                "description": "String value"
                              }
                            },
                            "required": [
                              "_id",
                              "field",
                              "from",
                              "to",
                              "label",
                              "value"
                            ],
                            "description": "Object with properties",
                            "example": {
                              "_id": "6634b301ee981658da4494d7",
                              "field": 2,
                              "from": 500,
                              "to": 1000,
                              "label": "500 - 1000 m²",
                              "value": "500_1000"
                            }
                          },
                          "description": "Array of object",
                          "example": [
                            {
                              "_id": "6634b301ee981658da4494d7",
                              "field": 2,
                              "from": 500,
                              "to": 1000,
                              "label": "500 - 1000 m²",
                              "value": "500_1000"
                            }
                          ]
                        },
                        "totalView": {
                          "type": "integer",
                          "example": 0,
                          "description": "Integer value"
                        },
                        "totalLike": {
                          "type": "integer",
                          "example": 0,
                          "description": "Integer value"
                        },
                        "isBoughtElectron": {
                          "type": "boolean",
                          "example": false,
                          "description": "Boolean value"
                        },
                        "createdBy": {
                          "type": "object",
                          "properties": {
                            "_id": {
                              "type": "string",
                              "example": "68ff42231fb40f5590096c96",
                              "description": "String value"
                            },
                            "name": {
                              "type": "string",
                              "example": "test",
                              "description": "String value"
                            },
                            "email": {
                              "type": "string",
                              "nullable": true,
                              "description": "Nullable value"
                            },
                            "phone": {
                              "type": "string",
                              "example": "0337700159",
                              "description": "String value"
                            },
                            "avatar": {
                              "type": "string",
                              "nullable": true,
                              "description": "Nullable value"
                            },
                            "status": {
                              "type": "integer",
                              "example": 1,
                              "description": "Integer value"
                            },
                            "phoneVerified": {
                              "type": "boolean",
                              "example": true,
                              "description": "Boolean value"
                            },
                            "emailVerified": {
                              "type": "boolean",
                              "example": false,
                              "description": "Boolean value"
                            },
                            "objectType": {
                              "type": "integer",
                              "example": -1,
                              "description": "Integer value"
                            },
                            "createdDate": {
                              "type": "string",
                              "format": "date-time",
                              "example": "2025-10-27T09:57:55.219Z",
                              "description": "Date-time string"
                            }
                          },
                          "required": [
                            "_id",
                            "name",
                            "phone",
                            "status",
                            "phoneVerified",
                            "emailVerified",
                            "objectType",
                            "createdDate"
                          ],
                          "description": "Object with properties",
                          "example": {
                            "_id": "68ff42231fb40f5590096c96",
                            "name": "test",
                            "phone": "0337700159",
                            "status": 1,
                            "phoneVerified": true,
                            "emailVerified": false,
                            "objectType": -1,
                            "createdDate": "2025-10-27T09:57:55.219Z"
                          }
                        },
                        "updatedBy": {
                          "type": "object",
                          "properties": {
                            "_id": {
                              "type": "string",
                              "example": "68ff42231fb40f5590096c96",
                              "description": "String value"
                            },
                            "name": {
                              "type": "string",
                              "example": "test",
                              "description": "String value"
                            },
                            "email": {
                              "type": "string",
                              "nullable": true,
                              "description": "Nullable value"
                            },
                            "phone": {
                              "type": "string",
                              "example": "0337700159",
                              "description": "String value"
                            },
                            "avatar": {
                              "type": "string",
                              "nullable": true,
                              "description": "Nullable value"
                            },
                            "status": {
                              "type": "integer",
                              "example": 1,
                              "description": "Integer value"
                            },
                            "phoneVerified": {
                              "type": "boolean",
                              "example": true,
                              "description": "Boolean value"
                            },
                            "emailVerified": {
                              "type": "boolean",
                              "example": false,
                              "description": "Boolean value"
                            },
                            "objectType": {
                              "type": "integer",
                              "example": -1,
                              "description": "Integer value"
                            },
                            "createdDate": {
                              "type": "string",
                              "format": "date-time",
                              "example": "2025-10-27T09:57:55.219Z",
                              "description": "Date-time string"
                            }
                          },
                          "required": [
                            "_id",
                            "name",
                            "phone",
                            "status",
                            "phoneVerified",
                            "emailVerified",
                            "objectType",
                            "createdDate"
                          ],
                          "description": "Object with properties",
                          "example": {
                            "_id": "68ff42231fb40f5590096c96",
                            "name": "test",
                            "phone": "0337700159",
                            "status": 1,
                            "phoneVerified": true,
                            "emailVerified": false,
                            "objectType": -1,
                            "createdDate": "2025-10-27T09:57:55.219Z"
                          }
                        },
                        "adminCreatedBy": {
                          "type": "string",
                          "nullable": true,
                          "description": "Nullable value"
                        },
                        "adminUpdatedBy": {
                          "type": "string",
                          "nullable": true,
                          "description": "Nullable value"
                        },
                        "isAnonymous": {
                          "type": "boolean",
                          "example": false,
                          "description": "Boolean value"
                        },
                        "anonymousCreatedBy": {
                          "type": "string",
                          "example": "4217a28ec984524157595d712cdb5aa6",
                          "description": "String value"
                        },
                        "anonymousUpdatedBy": {
                          "type": "string",
                          "example": "4217a28ec984524157595d712cdb5aa6",
                          "description": "String value"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-01-26T10:01:25.352Z",
                          "description": "Date-time string"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-01-26T10:01:34.019Z",
                          "description": "Date-time string"
                        },
                        "code": {
                          "type": "integer",
                          "example": 306487204,
                          "description": "Integer value"
                        },
                        "__v": {
                          "type": "integer",
                          "example": 0,
                          "description": "Integer value"
                        },
                        "articleVerify": {
                          "type": "object",
                          "properties": {
                            "_id": {
                              "type": "string",
                              "example": "69773b757276bea451bcface",
                              "description": "String value"
                            },
                            "isFullPaper": {
                              "type": "boolean",
                              "example": true,
                              "description": "Boolean value"
                            },
                            "isPublic": {
                              "type": "boolean",
                              "example": false,
                              "description": "Boolean value"
                            },
                            "isUseDataMeeyid": {
                              "type": "boolean",
                              "example": false,
                              "description": "Boolean value"
                            },
                            "identificationOriginal": {
                              "type": "object",
                              "properties": {
                                "cardFront": {
                                  "type": "string",
                                  "example": "https://io.meeymedia.com/meeyland/images/2026/01/26/screenshot-20260124-020651-1769421670187-606522.png",
                                  "description": "String value"
                                },
                                "cardBack": {
                                  "type": "string",
                                  "example": "https://io.meeymedia.com/meeyland/images/2026/01/26/screenshot-20260124-020643-1769421672096-846391.png",
                                  "description": "String value"
                                }
                              },
                              "required": [
                                "cardFront",
                                "cardBack"
                              ],
                              "description": "Object with properties",
                              "example": {
                                "cardFront": "https://io.meeymedia.com/meeyland/images/2026/01/26/screenshot-20260124-020651-1769421670187-606522.png",
                                "cardBack": "https://io.meeymedia.com/meeyland/images/2026/01/26/screenshot-20260124-020643-1769421672096-846391.png"
                              }
                            },
                            "certificate": {
                              "type": "object",
                              "properties": {
                                "legalPapers": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "description": {
                                        "type": "string",
                                        "example": "",
                                        "description": "String value"
                                      },
                                      "name": {
                                        "type": "string",
                                        "example": "Screenshot 2026-01-24 021630.png",
                                        "description": "String value"
                                      },
                                      "url": {
                                        "type": "string",
                                        "example": "https://io.meeymedia.com/meeyland/images/2026/01/26/screenshot-20260124-021630-1769421676495-646494.png",
                                        "description": "String value"
                                      },
                                      "uri": {
                                        "type": "string",
                                        "example": "/meeyland/images/2026/01/26/screenshot-20260124-021630-1769421676495-646494.png",
                                        "description": "String value"
                                      },
                                      "s3Key": {
                                        "type": "string",
                                        "example": "images/2026/01/26/screenshot-20260124-021630-1769421676495-646494.png",
                                        "description": "String value"
                                      },
                                      "mimeType": {
                                        "type": "string",
                                        "example": "image/png",
                                        "description": "String value"
                                      },
                                      "size": {
                                        "type": "integer",
                                        "example": 207912,
                                        "description": "Integer value"
                                      },
                                      "width": {
                                        "type": "integer",
                                        "example": 1918,
                                        "description": "Integer value"
                                      },
                                      "height": {
                                        "type": "integer",
                                        "example": 1079,
                                        "description": "Integer value"
                                      }
                                    },
                                    "required": [
                                      "description",
                                      "name",
                                      "url",
                                      "uri",
                                      "s3Key",
                                      "mimeType",
                                      "size",
                                      "width",
                                      "height"
                                    ],
                                    "description": "Object with properties",
                                    "example": {
                                      "description": "",
                                      "name": "Screenshot 2026-01-24 021630.png",
                                      "url": "https://io.meeymedia.com/meeyland/images/2026/01/26/screenshot-20260124-021630-1769421676495-646494.png",
                                      "uri": "/meeyland/images/2026/01/26/screenshot-20260124-021630-1769421676495-646494.png",
                                      "s3Key": "images/2026/01/26/screenshot-20260124-021630-1769421676495-646494.png",
                                      "mimeType": "image/png",
                                      "size": 207912,
                                      "width": 1918,
                                      "height": 1079
                                    }
                                  },
                                  "description": "Array of object",
                                  "example": [
                                    {
                                      "description": "",
                                      "name": "Screenshot 2026-01-24 021630.png",
                                      "url": "https://io.meeymedia.com/meeyland/images/2026/01/26/screenshot-20260124-021630-1769421676495-646494.png",
                                      "uri": "/meeyland/images/2026/01/26/screenshot-20260124-021630-1769421676495-646494.png",
                                      "s3Key": "images/2026/01/26/screenshot-20260124-021630-1769421676495-646494.png",
                                      "mimeType": "image/png",
                                      "size": 207912,
                                      "width": 1918,
                                      "height": 1079
                                    }
                                  ]
                                },
                                "authority": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "description": {
                                        "type": "string",
                                        "example": "",
                                        "description": "String value"
                                      },
                                      "name": {
                                        "type": "string",
                                        "example": "Screenshot 2026-01-24 020724.png",
                                        "description": "String value"
                                      },
                                      "url": {
                                        "type": "string",
                                        "example": "https://io.meeymedia.com/meeyland/images/2026/01/26/screenshot-20260124-020724-1769421679426-608723.png",
                                        "description": "String value"
                                      },
                                      "uri": {
                                        "type": "string",
                                        "example": "/meeyland/images/2026/01/26/screenshot-20260124-020724-1769421679426-608723.png",
                                        "description": "String value"
                                      },
                                      "s3Key": {
                                        "type": "string",
                                        "example": "images/2026/01/26/screenshot-20260124-020724-1769421679426-608723.png",
                                        "description": "String value"
                                      },
                                      "mimeType": {
                                        "type": "string",
                                        "example": "image/png",
                                        "description": "String value"
                                      },
                                      "size": {
                                        "type": "integer",
                                        "example": 732454,
                                        "description": "Integer value"
                                      },
                                      "width": {
                                        "type": "integer",
                                        "example": 1917,
                                        "description": "Integer value"
                                      },
                                      "height": {
                                        "type": "integer",
                                        "example": 1079,
[...]
